DOMAIN="yg.loc"
DOMAIN_USER="AGPetrosyan"
DOMAIN_PASSWORD=""
DOMAIN_PASSWORD_FILE="/root/.bootstrap/domain.pass"
DNS_SERVERS="10.14.100.222 10.17.101.222"
NTP_SERVER="time.yanao.ru"
PROXY="10.82.200.1:8090"
ROLE="workstation"
ADMIN_USB_SERIAL="CHANGE_ME"
REPORTS_DIR="/mnt/inv/AGPetrosyan/reports"
CIFS_SERVER="10.82.107.5"
CIFS_INV_REMOTE="//10.82.107.5/inv"
CIFS_DISTR_REMOTE="//10.82.107.5/distr"
CIFS_USERNAME="CHANGE_ME"
CIFS_PASSWORD=""
CIFS_PASSWORD_FILE="/root/.bootstrap/cifs.pass"
CIFS_DOMAIN=""
CIFS_CREDENTIALS_FILE="/root/.bootstrap/cifs.creds"
CIFS_MOUNT_OPTIONS="iocharset=utf8,vers=3.0,_netdev,nofail,x-systemd.automount"
REPO_DIR="/opt/admin_toolkit"
AUTO_UPDATE_REMOTE="origin"
AUTO_UPDATE_BRANCH="main"
DNF_PROXY_CONFIG="/etc/dnf/dnf.conf"
CHRONY_CONFIG_FILE="/etc/chrony.conf"
DNF_AUTOMATIC_CONFIG="/etc/dnf/automatic.conf"
DNF_AUTO_APPLY_UPDATES="yes"
DNF_AUTO_DOWNLOAD_UPDATES="yes"
TOOLKIT_LOG_FILE="/var/log/bootstrap.log"
REPORT_ARCHIVE_DIR="/var/log/bootstrap_reports"
SUPPORTED_DISTROS="fedora rhel rocky almalinux centos"
FIREWALL_ENABLED="1"
FIREWALL_SERVICES="ssh"
FIREWALL_PORTS=""
SSHD_HARDENING_ENABLED="1"
SSHD_PERMIT_ROOT_LOGIN="no"
SSHD_PASSWORD_AUTH="yes"
SSH_CONFIG_FILE="/etc/ssh/sshd_config"

KASPERSKY_ENABLED="1"
KASPERSKY_SHARE_DIR="/mnt/distr/linux/bootstrap/kesl"
KASPERSKY_INSTALL_GUI="0"
KASPERSKY_INSTALL_NETWORK_AGENT="1"
KASPERSKY_ADMIN_USER=""
KASPERSKY_LOCALE="ru_RU.UTF-8"
KASPERSKY_USE_KSN="yes"
KASPERSKY_CONFIGURE_SELINUX="yes"
KASPERSKY_UPDATER_SOURCE="KLServers"
KASPERSKY_PROXY_SERVER=""
KASPERSKY_UPDATE_EXECUTE="yes"
KASPERSKY_LICENSE="None"
KASPERSKY_AGENT_SERVER="10.8.31.60"
KASPERSKY_AGENT_PORT="14000"
KASPERSKY_AGENT_SSL_PORT="13000"
KASPERSKY_AGENT_USE_SSL="1"
KASPERSKY_AGENT_GW_MODE="2"

CRYPTO_PRO_ENABLED="1"
CRYPTO_PRO_DIST_DIR="/mnt/distr/linux/bootstrap/cryptopro"
CRYPTO_PRO_ARCHIVE_PATTERN="linux-amd64*.tgz"
CRYPTO_PRO_INSTALL_RUTOKEN_PKCS11="1"
CRYPTO_PRO_INSTALL_RUTOKEN_DRIVER="1"
CRYPTO_PRO_INSTALL_JACARTA_DRIVER="0"
CRYPTO_PRO_LICENSE_KEY=""

VIPNET_ENABLED="1"
VIPNET_DIST_DIR="/mnt/distr/linux/bootstrap/vipnet"
VIPNET_ARCHIVE_PATTERN="ViPNet*.zip"
VIPNET_VARIANT="gui"
