DOMAIN="yg.loc"
DOMAIN_USER="AGPetrosyan"
DNS_SERVERS="10.14.100.222 10.17.101.222"
NTP_SERVER="time.yanao.ru"
PROXY="10.82.200.1:8090"
ROLE="workstation"
ADMIN_USB_SERIAL="CHANGE_ME"
REPORTS_DIR="/mnt/inv/AGPetrosyan/reports"
CIFS_SERVER="10.82.107.5"
REPO_DIR="/opt/admin_toolkit"
AUTO_UPDATE_REMOTE="origin"
AUTO_UPDATE_BRANCH="main"
DNF_PROXY_CONFIG="/etc/dnf/dnf.conf"
TOOLKIT_LOG_FILE="/var/log/bootstrap.log"
REPORT_ARCHIVE_DIR="/var/log/bootstrap_reports"
SUPPORTED_DISTROS="fedora rhel rocky almalinux centos"
FIREWALL_ENABLED="1"
FIREWALL_SERVICES="ssh"
FIREWALL_PORTS=""
SSHD_HARDENING_ENABLED="1"
SSHD_PERMIT_ROOT_LOGIN="no"
SSHD_PASSWORD_AUTH="yes"
SSH_CONFIG_FILE="/etc/ssh/sshd_config"
