#!/bin/bash
set -euo pipefail

cat > /etc/yum.repos.d/RedOS-Base.repo <<'EOF'
[base]
name=RedOS - Base
baseurl=http://redrepos.yanao.int/redos/8.0c/$basearch/os,https://repo1.red-soft.ru/redos/8.0c/$basearch/os,https://mirror.yandex.ru/redos/8.0c/$basearch/os,http://repo.red-soft.ru/redos/8.0c/$basearch/os
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-RED-SOFT
enabled=1
EOF

cat > /etc/yum.repos.d/RedOS-Updates.repo <<'EOF'
[updates]
name=RedOS - Updates
baseurl=http://redrepos.yanao.int/redos/8.0c/$basearch/updates,https://repo1.red-soft.ru/redos/8.0c/$basearch/updates,https://mirror.yandex.ru/redos/8.0c/$basearch/updates,http://repo.red-soft.ru/redos/8.0c/$basearch/updates
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-RED-SOFT
enabled=1
EOF
